html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #eeeeee;
    color: #757575;
    font: 15px Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h3 {
    color: #757575;
    font-size: 16px;
}

a {
    color: #2196f3;
    text-decoration: none;
}

a:hover {
    color: #2196f3;
}

h1 {
    margin-top: 20px;
}

#photoRow {
    margin: 10px 10px;
}

.featured-photo {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.mobile {
    height: 200px;
    margin: 10px 0 10px 0;
}

#page_body .blog-posts .post-outer-container {
    background: #ffffff;
    min-height: 40px;
    padding: 30px 40px;
    width: auto;
}

#page_body {
    margin-bottom: 16px;
}

.blog-posts .post-outer-container:last-child {
    margin-bottom: 0;
}

.blog-posts .post-outer-container .post-outer {
    border: 0;
    padding-bottom: 0.25em;
    position: relative;
}

.post-outer-container {
    margin-bottom: 16px;
}

.post:first-child {
    margin-top: 0;
}

.post-header {
    clear: left;
    color: #000000;
    margin: 0;
    width: inherit;
}

.post-title {
    float: left;
    font: bold 22px Roboto, sans-serif;
    margin: 0 0 8px 0;
    max-width: calc(100% - 48px);
}

.post-title a {
    font: bold 30px Roboto, sans-serif;
}

.post-title,
.post-title a,
.post-title a:hover,
.post-title a:visited {
    color: #212121;
}

.post-body {
    color: #757575;
    display: block;
    font: 15px Roboto, sans-serif;
    line-height: 1.6em;
    margin: 1.5em 0 2em 0;
}

.post-body img {
    height: inherit;
}

.post-body .snippet-thumbnail {
    float: left;
    margin: 0;
    margin-right: 2em;
    max-height: 128px;
    max-width: 128px;
}

#photoGallery {
    align-items: center;
    display: flex;
    height: 300px;
    overflow-x: auto;
    scrollbar-width: none;
}

#photoGallery::-webkit-scrollbar {
    display: none;
}

.introImg {
    border-radius: 5px;
    height: 190px;
    object-fit: cover;
    width: 100%;
}

a.timestamp-link,
a:active.timestamp-link,
a:visited.timestamp-link {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

.bgimg-1 {
    background-color: darkseagreen;
    background-image: url(resources/hiking-pic.png);
    background-position: left;
    height: 40%;
    opacity: 1;
}

.feed-container .content .item .description {
    color: red !important;
    font-family: Helvetica, Arial, sans-serif;
}

.btn-group button {
    background-color: #5b84b1;
    border: 1px solid navy;
    color: white;
    cursor: pointer;
    float: left;
    margin-top: 0px;
    padding: 10px 24px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    clear: both;
    content: "";
    display: table;
}

.btn-group button:hover {
    background-color: navy;
}

#loadMore {
    align-items: center;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1em;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    width: 35px;
}

#loadMore span {
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    width: 300px;
}

#loadMore:focus {
    outline: none;
}


.marker-cluster-small {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-large {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(110, 204, 57, 0.6);
}

.img-container {
    flex: 0 0 auto;
    height: 100%;
    margin-right: 10px;
    position: relative;
    transition: opacity 1s ease-out;
}

.img-container {
    border: 2px solid transparent; /* Default border */
    transition: border-color 0.3s; /* Smooth transition for border color */
    /* Other styles as needed */
}

.img-container img {
    border-radius: 0 10px 0 0;
    height: 100%;
    width: 100%;
}

.leaflet-popup-content {
    width: auto !important;
}

.img-date {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    bottom: 0; /* Aligns to the bottom of the image */
    color: white;
    left: 0;
    padding: 5px; /* Adjust padding as needed */
    position: absolute;
    text-align: center;
    width: 100%;
}

.img-tooltip {
    background-color: black;
    border-radius: 5px;
    bottom: 10px;
    color: white;
    display: none;
    left: 50%;
    padding: 5px;
    position: absolute;
    transform: translateX(-50%);
}

.zoom-level-control {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25%;
    padding: 10px;
    text-align: center;
    width: 85px;
    height: 50px;
    line-height: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}


@media screen and (min-width: 768px) {
    .caption {
        color: #000;
        left: -15%;
        position: absolute;
        text-align: right;
        top: 50%;
        width: 100%;
    }

    .bgimg-1 {
        height: 30%;
    }

    #map {
        height: 600px !important;
    }
}